.navbar {
    background-color: #1e0a78;
}

.form-inline .btn-outline-success {
    color: #cab896;
    border-color: #cab896;
}

/*search button*/
.form-inline .btn-outline-success:hover {
    color: #1f1e23;
    background-color: #cab896;
    border-color: #1f1e23;
}

.btn-outline-success:not(:disabled):not(.disabled):active {
     color: #cab896;
     background-color: #1f1e23  ;
     border-color: #cab896;
}

.btn-outline-success.focus, .btn-outline-success:focus {
    box-shadow: 0 0 0 0.2rem rgba(11, 11, 20,.5);
}

/*active nav-item*/
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #eeebff;
    font-weight: bold;
    /*text-shadow: -0.5px 0 #cab896, 0 0.5px #cab896, 0.5px 0 #cab896, 0 -0.5px #cab896;*/
}

/*nav-item*/
.navbar-light .navbar-nav .nav-link {
    color: #eeebff;
}

/*nav-item hover*/
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #eeebff;
    font-weight: bold;
}

.nav-item li{
    color: #cab896;
}

.container h1 {
    text-align: center;
    margin-top: 20px;
}

.container {


}

.event {
    display: inline-block;
    padding: 20px;
    position: relative;
}

.eventImg {
    /*background-image: url("https://e7.pngegg.com/pngimages/111/300/png-clipart-ticket-computer-icons-others-logo-black.png");*/
    height: 150px;
    width: 150px;
    background-size: cover;
    background-position: center;
}

.eventName {
    margin-top: 20px;
    text-align: center;
    font: 20px sans-serif
}

.eventNameHP {
    margin-top: 5px;
    text-align: left;
    font: 15px sans-serif;
}

.eventPriceHP {
    margin-top: 5px;
    text-align: left;
    font: 13px sans-serif;
    color: royalblue;
}

.eventButton {
    margin-top: 10px;
    width: 50%;
    padding: 10px;
    background-color: rgba(68,152,255,0.43);
    border-radius: 10px;
    text-align: center;
    position: relative;
    left: 25%;
}

.eventButton:hover {
    background-color: rgba(68,152,255,0.8);
}

.eventButton a{
    color: #1f1e23;
}

.mainEvent {
    margin-top: 50px;
}

.eventShortDesc {
    width: 300px;
}

.eventLongDesc {
    margin-top: 20px;
}

.eventImgAlone {
    height: 400px;
    width: 400px;
    background-size: cover;
    background-position: center;
}

.eventInfo {
    margin-top: 20px;
    display: inline-flex;
}

.eventInfoItem {
    margin-right: 70px;
}

.eventInfoItem:last-child {
    margin-right: 0px;
}

.eventEditDelete {
    margin-top: 5px;
    display: inline-flex;
}

.eventEditDelete form{
    padding: 5px;
}


.homeImg {
    display: block;
    position: relative;
    width: 100%;
    height: inherit;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

.align_center {
    text-align: center;
}

.container-fluid {
    background-color: black;
}

.homeImgBg {
    background-size: cover;
}

.leftImgGradient {
    width: 200px;
    height: inherit;
    background-image: linear-gradient(to right, black, rgba(12, 9, 5, 0));
}

.rightImgGradient {
    width: 200px;
    height: inherit;
    background-image: linear-gradient(to left, black, rgba(12, 9, 5, 0));
}

.bg_home_notice {
    padding: 20px;
    background-color: #bfd9f5;
    border: 2px solid #1f5591;
    border-radius: 5px;
}

.line {
    display: block;
    margin-left: 5px;
    padding-bottom: 15px;
    flex: 1 1 auto;
    height: 10px;
    background-color: #cab896;
    opacity: 35%;
}

.with_line {
    display: flex;
    align-items: baseline;
}

.homePageEventMenu {
    text-align: center;
    margin-top: 10px;
}

.buttonEventMenu {
    margin-right: 10px;
    border-radius: 5px;
    padding: 5px 15px;
    background-color: white;
    border-width: 0;
}

.buttonEventMenu:hover {
    background-color: #bfd9f5;
}

.popup {
    display: none;
    margin-left: 20px;
    width: fit-content;
    padding: 5px 10px;
    background-color: #ed6161;
    border-radius: 10px;
}

a:hover {
    text-decoration: none;
}

.datesHomePage {
    margin-left: 5px;
   font-size: 12px;
    color: #1f5591;
}

.homePageEvents {
    display: block;
}

.homePageEventsRow {
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

.eventHomePage {
    display: inline-block;
    padding: 5px;
    position: relative;
}
.changeUserDiv {
    width: 160px;
    height: 160px;
    position: absolute;
}
/*.changeUserImg {
    background-image: url("https://icons.iconarchive.com/icons/icons8/windows-8/512/Users-Change-User-icon.png");
    width: 40px;
    height: 40px;
    margin: 40% 40%;
    z-index: 1;
    opacity: .7;
    position: relative;
    background-position: center; !* Center the image *!
    background-repeat: no-repeat; !* Do not repeat the image *!
    background-size: cover;
}*/

.changeUserDiv:hover {
    opacity: .8;
}

.editProfileButton {
    background-color: white;
    border-width: 0;
}

.editProfileButton:hover {
    color: darkgoldenrod;
}


.orders_table{
    display: flex;
    text-align: center;
    border-bottom: 1px solid black;
    padding: 10px 5px;
}

.pagination {
    justify-content: center;
}




@media (min-width: 480px) {
    .homeImg {
        height: 260px;
    }

    .eventHomePage {
        width: 300px;
    }

    .eventImgHomePage {
        width: 300px;
    }

    .eventImg {
        height: 350px;
        width: 350px;
    }
}

@media (min-width: 660px) {
    .homeImg {
        height: 300px;
    }
    .eventHomePage {
        width: 200px;
    }

    .eventImgHomePage {
        width: 200px;
    }

    .eventImg {
        height: 250px;
        width: 250px;
    }
}

@media (min-width: 950px) {
    .homeImg {
        height: 480px;
    }
    .eventHomePage {
        width: 160px;
    }
    .eventImgHomePage {
        width: 150px;
    }

    .eventImg {
        height: 250px;
        width: 250px;
    }
}

